body {
  font-family: "Roboto", sans-serif;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
